body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    text-align: center;
}

.mainHeading {
    color: #1DB954;
    font-size: 32px;
    font-weight: bold;
    margin-top: 0px;
    display: flex;
    align-items: center;
    height: 200px;
    top: 0;
    width: 100%;
}

.container,
.box {
    background-color: #181818;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 25px;
    margin: 10px auto;
    width: 100%;
}

input[type="text"],
select {
    width: 80%;
    padding: 12px;
    margin: 40px 0;
    border: 1px solid #1DB954;
    border-radius: 10px;
    background-color: #282828;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
}

.btn {
    background-color: #1DB954;
    color: #FFFFFF;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.3s;
    margin-top: 20px;
}

.btn:hover {
    background-color: #17a74b;
}

p {
    color: #B3B3B3;
    font-size: 18px;
}